* {
	padding: 0;
	margin: 0;
}
body {
	background: #181818;
}
.container {
	display: grid;
	grid-template-columns: 60% 40% 0 0;
}
.container-post {
	padding-left: 0;
	margin-right: 0;
}
.container-tweet {
	padding-left: 0;
	margin-right: 0;
}
