* {
	padding: 0;
	margin: 0;
	background-color: #181818;
}
.menubar {
	padding: 2rem;
}
.container {
	display: flex;
	flex-direction: row;
	justify-items: center;
}
.container-post {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin-left: 9rem;
	box-sizing: border-box;
}
.container-tweet {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-right: 9.5rem;
	box-sizing: border-box;
}
